In [4]:
import pandas as pd
import numpy as np

In [5]:
!unzip top-spotify-songs-from-20102019-by-year.zip

Archive:  top-spotify-songs-from-20102019-by-year.zip
  inflating: top10s.csv

In [6]:
!ls

Untitled.ipynb	top-spotify-songs-from-20102019-by-year.zip  top10s.csv

In [8]:
with open ('top10s.csv') as f:
    top = f.read()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 5115: invalid continuation byte

In [37]:
df=pd.read_csv("top10s.csv",encoding='latin1')

In [38]:
!ls

Untitled.ipynb	      top-spotify-songs-from-20102019-by-year.zip
graficarpython.ipynb  top10s.csv

In [39]:
df.head()

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

In [45]:
df.columns

Index(['Unnamed: 0', 'title', 'artist', 'top genre', 'year', 'bpm', 'nrgy',
       'dnce', 'dB', 'live', 'val', 'dur', 'acous', 'spch', 'pop'],
      dtype='object')

In [47]:
a =df['artist'].unique()
print(sorted(a))

['3OH!3', '5 Seconds of Summer', 'A Great Big World', 'Adam Lambert', 'Adele', 'Alan Walker', 'Alessia Cara', 'Alesso', 'Alicia Keys', 'Ansel Elgort', 'Ariana Grande', 'Austin Mahone', 'Avicii', 'Avril Lavigne', 'Bastille', 'Bebe Rexha', 'Beyoncé', 'Birdy', 'Britney Spears', 'Bruno Mars', 'BØRNS', 'CNCO', 'Calvin Harris', 'Camila Cabello', 'Cardi B', 'Carly Rae Jepsen', 'Cashmere Cat', 'Charli XCX', 'Charlie Puth', 'Chris Brown', 'Christina Aguilera', 'Christina Perri', 'Ciara', 'Clean Bandit', 'Coldplay', 'DJ Khaled', 'DJ Snake', 'DNCE', 'Daddy Yankee', 'Daft Punk', 'Dan + Shay', 'David Guetta', 'Demi Lovato', 'Disclosure', 'Drake', 'Dua Lipa', 'Ed Sheeran', 'Ellie Goulding', 'Emeli Sandé', 'Eminem', 'Enrique Iglesias', 'Far East Movement', 'Fergie', 'Fifth Harmony', 'Flo Rida', 'Florence + The Machine', 'G-Eazy', 'Galantis', 'Gwen Stefani', 'Gym Class Heroes', 'Hailee Steinfeld', 'Halsey', 'Harry Styles', 'Hayley Kiyoko', 'Hilary Duff', 'Hot Chelle Rae', 'Hozier', 'Icona Pop', 'Iggy Azalea', 'J Balvin', 'James Arthur', 'Janet Jackson', 'Jason Derulo', 'Jennifer Hudson', 'Jennifer Lopez', 'Jess Glynne', 'Jessie J', 'Jewel', 'Joey Montana', 'John Legend', 'John Newman', 'Jonas Blue', 'Jonas Brothers', 'Justin Bieber', 'Justin Timberlake', 'Kanye West', 'Katy Perry', 'Kelly Clarkson', 'Kelly Rowland', 'Kesha', 'Khalid', 'Kygo', 'LMFAO', 'Labrinth', 'Lady Gaga', 'Lana Del Rey', 'Lea Michele', 'Lewis Capaldi', 'Liam Payne', 'Lilly Wood and The Prick', 'Lily Allen', 'Little Mix', 'Lizzo', 'Lorde', 'Lost Frequencies', 'Luis Fonsi', 'Lukas Graham', 'MAGIC!', 'Mabel', 'Macklemore & Ryan Lewis', 'Madonna', 'Major Lazer', 'Mariah Carey', 'Mark Ronson', 'Maroon 5', 'Marshmello', 'Martin Garrix', 'Martin Solveig', 'Meghan Trainor', 'Michael Jackson', 'Mike Posner', 'Miley Cyrus', 'Missy Elliott', 'Mr. Probz', 'MØ', 'N.E.R.D', 'Naughty Boy', 'Ne-Yo', 'Nelly Furtado', 'Neon Trees', 'Niall Horan', 'Nick Jonas', 'Nicki Minaj', 'Olly Murs', 'One Direction', 'OneRepublic', 'Owl City', 'P!nk', 'Paloma Faith', 'Passenger', 'Pharrell Williams', 'Pitbull', 'R3HAB', 'RedOne', 'Ricky Martin', 'Rihanna', 'Rita Ora', 'Robin Schulz', 'Robin Thicke', 'Rudimental', 'SHAED', 'Sam Smith', 'Sara Bareilles', 'Sean Kingston', 'Selena Gomez', 'Selena Gomez & The Scene', 'Shakira', 'Shawn Mendes', 'Sia', 'Sigala', 'Silk City', 'Sleeping At Last', 'Snakehips', 'Swedish House Mafia', 'T.I.', 'Taio Cruz', 'Taylor Swift', 'The Black Eyed Peas', 'The Chainsmokers', 'The Script', 'The Wanted', 'The Weeknd', 'Tinie Tempah', 'Tove Lo', 'Train', 'Troye Sivan', 'Usher', 'Wiz Khalifa', 'Years & Years', 'ZAYN', 'Zara Larsson', 'Zedd', 'fun.', 'will.i.am']

In [49]:
artist = pd.DataFrame(sorted(a))

In [50]:
artist

                       0
0                  3OH!3
1    5 Seconds of Summer
2      A Great Big World
3           Adam Lambert
4                  Adele
..                   ...
179                 ZAYN
180         Zara Larsson
181                 Zedd
182                 fun.
183            will.i.am

[184 rows x 1 columns]